<h2>All Movies</h2>

<table class = "table">
  <tr>
    <td><strong>Ranking</strong></td>
    <td><strong>Name</strong></td>
    <td><strong>Upvote</strong></td>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td>Ranked: <%= movie.votes %></td>
      <td><%= link_to movie.title, movie_path(movie.id) %></td>
      <td>
        <%= form_for movie, method: :patch, action: edit_movie_path(movie.id) do |f| %>
          <%= f.hidden_field :votes, value: (movie.votes += 1) %>
          <%= f.submit "Upvote", class: "btn btn-default" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>


<%= link_to "Add a Movie", new_movie_path, class: "btn btn-default" %>
