<div class = "row">
  <div class = "show col-xs-6">
    <h2><%= @movie.title %></h2>
    <h3>Directed by: <%= @movie.director %></h3>
    <p> <%= @movie.description %></p>
    <p>Ranking: <%= @movie.votes %></p>
  </div>

  <div class = "col-xs-6">
    <p>
      <%= form_for @movie, method: :patch, action: edit_movie_path(@movie.id) do |f| %>
        <%= f.hidden_field :votes, value: (@movie.votes += 1) %>
        <%= f.submit "Upvote", class: "btn btn-primary" %>
      <% end %>
    </p>
    <p><%= button_to "Edit #{@movie.title}", edit_movie_path(@movie.id), method: :get, class: "btn btn-default" %></p>
    <p><%= button_to "Delete #{@movie.title}", delete_movie_path(@movie.id), method: :delete, class: "btn btn-danger" %></p>

    <p><%= link_to "View All Movies", movies_path, class: "btn btn-default" %></p>
    <p><%= link_to "View All Media", root_path, class: "btn btn-default" %></p>
  </div>
</div>
