<h2><%= @movie.title %></h2>
<h3>Directed by: <%= @movie.director %></h3>
<p> <%= @movie.description %></p>
<p>Ranking: <%= @movie.votes %></p>

<%= link_to "Edit #{@movie.title}", edit_movie_path(@movie.id) %>
