<div class = "row">
  <div class = "show col-xs-11">
    <h2><%= @album.title %></h2>
    <hr>
    <%= image_tag "#{@album.imageurl}", class: "img-rounded img-responsive" %>
    <h3>Recorded by: <%= @album.artist %></h3>
    <p> <%= @album.description %></p>
    <h4>Ranking: <%= @album.votes %></h4>

    <%= form_for @album, method: :patch, action: edit_album_path(@album.id) do |f| %>
      <%= f.hidden_field :votes, value: (@album.votes += 1) %>
      <%= f.submit "Upvote", class: "btn btn-sm btn-primary" %>
    <% end %>

    <%= button_to "Edit #{@album.title}", edit_album_path(@album.id), method: :get, class: "btn btn-sm btn-default" %>

    <%= button_to "Delete #{@album.title}", album_path(@album.id), method: :delete, class: "btn btn-sm btn-danger" %>


    <p>
      <%= link_to "View All Albums", albums_path, class: "btn btn-sm btn-default" %>
      <%= link_to "View All Media", root_path, class: "btn btn-sm btn-default" %>
    </p>
  </div>
</div> <!-- row -->
