<!DOCTYPE html>
<html>
<head>
  <title>Media Ranker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class = 'container'>
  <nav class="navbar navbar-default" role="navigation">

    <div class="container-fluid">

      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <%= image_tag "tv.png", class: "logo" %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">Media Ranker</a>
      </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Movies", movies_path %></li>
          <li><%= link_to "Books", books_path %></li>
          <li><%= link_to "Albums", albums_path %></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class = "page-body row">

    <div class = "main col-md-9">
      <%= yield %>
    </div>
    <div class = "sidebar col-md-3">
      <h2>About</h2>
      <hr>
      <%= image_tag "dino.jpg", class: 'img-circle about-pic' %>
      <p>Do you want to know what the best of the best is?  Why not crowdsource your problem?  Add your own movies, books, or albums, or just vote for the ones you like best! This is the definitive resource for the best stuff for the entire internet, just so you know.  Amazing, right?  Yes, yes it is.</p>
    </div>
  </div>
  <div class = "footer">
    Created October 2014
  </div>
</div>
</body>
</html>
